@model List<MusicStore.Models.Module.Album>
@{
    ViewBag.Title = "Music Store";
}
<table class="table table-striped">
    
        @foreach (var row in Model)
        {
            if (!row.Blokada)
            {
            <tr>
                <td class="col-md-2" style="vertical-align: middle;">
                    @if (row.Image != null)
                    {
                        <img src="data:image;base64,@Convert.ToBase64String(row.Image)" width="100" height="100" />
                    }
                    else
                    {
                        <img src="~/Content/default.jpg" height="100" width="100" />
                    }
                </td>
                <td style="vertical-align: middle;">
                    <h2>@Html.Label(row.Nazwa)</h2>
                    <h4>@Html.Label(row.Artysta.Nazwa)</h4>
                </td>
                <td style="vertical-align: middle;">
                    Cena: @Html.Label(row.BruttoValue.ToString()) @Html.Label(row.BruttoSymbol)<br />
                    Dostępne: @Html.Label(row.StanIlosc.ToString()) szt.
                </td>
                <td style="vertical-align: middle;">
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Album", "Home", new { Id = row.Id })'">Więcej</button> 
                    <button onclick="AddToCart(@row.Id)" class="btn btn-warning glyphicon glyphicon-align-center glyphicon-shopping-cart glyphicon-bold"></button>
                </td>
            </tr>
            }
        }
</table>