@model MusicStore.Models.Module.Album
@{
    ViewBag.Title = "Edytuj Album";
}

<h2>Album - Edycja</h2>

<form action='@Url.Action("Save", "Albums")' method="post" class="form-horizontal" enctype="multipart/form-data">
    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("ArtystaId", Model.ArtystaId)
    <div class="form-group">
        <label for="blokada">Blokada</label>
        @Html.CheckBox("Blokada", Model.Blokada, new { @class="form-control" })
    </div>
    <div class="form-group">
        <label for="Artysta">Artysta</label>
        <input type="text" readonly value="@Model.Artysta.Nazwa" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="Name">Nazwa</label>
        @Html.TextBox("Nazwa", Model.Nazwa, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Stan">Stan ilościowy</label>
        @Html.TextBox("StanIlosc", Model.StanIlosc, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="cena">Cena brutto</label>
        @Html.TextBox("BruttoValue", Model.BruttoValue, new { @class = "form-control" })
        @Html.DropDownList("BruttoSymbol", new SelectList(MusicStore.Models.Module.CurrencySymbols.Symbols), new { @class = "form-control" })
    </div>
    @if (Model.Image != null)
    {
        <img src="data:image;base64,@Convert.ToBase64String(Model.Image)"  width="100" height="100"/> 
    }
    <div class="form-group">
        <input type="file" name="obrazek" />
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
</form>

<button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Utwory", new { Id = Model.Id })'">Zarządzaj utworami</button>

